
        .section-temoignage{
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
        }
        .slider-temoignage {
            position: relative;
            max-width: 800px;
            width: 100%;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
            border-radius: 10px;
            text-align: center;
            overflow: hidden;
        }
        .temoignage {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .testi {
            min-width: 100%;
            box-sizing: border-box;
            padding: 20px;
        }
        .testi img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
        }
        .testi h3 {
            margin: 10px 0;
            font-size: 1.8em;
            color: #000000;
        }
        .testi p {
            font-size: 1.5em;
            color: #555;
            line-height: 1.6;
        }
        .nav-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #e67e22;
            color: #fff;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            font-size: 1.2em;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nav-btn:hover {
            background-color: #28a745;
        }
        .prev-btn {
            left: 10px;
        }
        .next-btn {
            right: 10px;
        }
        @keyframes slides {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
        }